body{
  background-color: rgb(101, 204, 222);
}
#wordcount{
  
  background-color: rgb(76, 148, 207);
  width: 30%;
  height: 60%;
  border: 2px solid black;
  margin: 5% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 4%;
  line-height: 10%;
  box-shadow: 9px 6px rgba(0, 0, 0, 0.3);
}

#input{
  padding: 2%;
  outline: none;
}
#countbtn{
  margin-top: 5%;
  background-color:skyblue;
  color:white;
  border-radius: 8px;
  height: 6vh;
  font-size: 1.2vw;
}
#countbtn:hover{
  color: blue;
  transition: 0.3s;
 border: 3px solid blue;
  box-shadow: 0 5px 10px rgba(0,0, 0, 0.2);
}
h1{
  font-size: 2vw;
}
#output{
  outline: none;
  direction:rtl;
  padding: 2%;
  margin-top: 4%;
  width: 30%;
  margin-left: 35%;
  resize: none;
  
}
@media (max-width:450px)
{
  #wordcount{
    margin-top: 10vh;
    width: 95%;
    height: 25vh;
    gap: 13px;
  }
  h1{
    font-size: 7vw;
  }
  #input{
    margin-top: 1.5vh;
  }
  #output{
    height: 3vh;
  }
  #countbtn{
    height: 4.2vh;
    font-size: 1.4vh;
 
  }
}
@media (max-width:700px){
  #wordcount{
    width: 60%;
  }
  h1{
    font-size: 5vw;
  }
  #input{
    margin-top: 1.5vh;
  }
  #output{
    height: 3vh;
  }
  #countbtn{
    height: 4.5vh;
    font-size: 2.4vh;
  }
}
@media (max-width:1000px){
  #wordcount{
    width: 40%;
  }
  h1{
    font-size: 4vw;
  }
  #input{
    margin-top: 1.5vh;
  }
  #output{
    height: 3vh;
  }
  #countbtn{
    height: 4.5vh;
    font-size: 1.6vh;
  }
}
@media (min-width:1001px){
  #wordcount{
    width: 45%;
  }
  h1{
    font-size: 4vw;
  }
  #input{
    margin-top: 1.5vh;
  }
  #output{
    height: 3vh;
  }
  #countbtn{
    height: 7vh;
    font-size: 3.6vh;
  }
}
